<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="he">
    <meta name="description" content="    יובל יפה מושקוביץ     אחות מוסמכת B.S.N ומדריכת הנקה
ייעוצי הנקה פרטיים בבית היולדת בקיסריה והסביבה
    ">
    <meta name="keywords" content="ייעוץ הנקהת, הכנה להנקה, מדריכת הנקה, קיסריה, חדרה, אור עקיבא, חוף הכרמל, פרדס חנה, בנימינה, זכרון יעקב">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}/favicon.ico" />
    <title>יעוץ הנקה</title>
    <link href="{{ MEDIA_URL }}css/code.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/slider.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=364359283631107";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32551030-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32551030-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{{ BABLIC_SNIPPET }}
	{% if locale %}
	<script>
		bablic.locale = "{{ locale }}";
	</script>
	{% endif %}

<!--container start-->
<div id="container" dir="rtl">
    <!--header start-->
    <div id="header">
        <h1 dir='rtl'>
            יובל יפה מושקוביץ
            &nbsp;&nbsp;&nbsp;<small>
            אחות מוסמכת B.S.N ומדריכת הנקה
            </small>
        </h1>
        <h2 >	<a style="text-decoration: none; color: #6788B2;" href="mailto:uvjaffe@gmail.com">uvjaffe@gmail.com</a>  &nbsp;&nbsp;   050-8455242 &nbsp;&nbsp;&nbsp;  ייעוצי הנקה פרטיים בבית היולדת בקיסריה והסביבה </</h2>
    </div><!--header end-->
    <!--menu start-->
    <div id="menu" style="width:1100px; position:relative; right:-70px;">
        <ul>

            {% for p in pages %}
				{% if forloop.last %}
					<li dir='rtl'>
					<a href="/gallery/" {% if page_link == 'gallery' %}class="current"{% endif %}                    >
					גלריה
					</a>
					</li>

				{% endif %}			
                <li dir='rtl'><a href="{% if p.link == 'consultation' %}/{% else %}/page/{{ p.link }}{% endif %}" {% if page_link == p.link %}class="current"{% endif %}>
                {{ p.header }}
                </a></li>
            {% endfor %}
        </ul>
    </div><!--menu end-->
        {% block content %}
        {% endblock %}
    <footer>
        <ul>
            <li>
            <a href="http://www.niritgur.com/" target='_blank'>
                צולם ע"י נירית גור
            </a>
            </li>

            <li style="float:left;">
            <div class="fb-like" data-href="http://www.yuvaljaffe.co.il" data-send="false" data-width="300" data-show-faces="false"></div>
            </li>
        </ul>
    </footer>
</div>
<!--container end-->
{% block bottom_head %}
{% endblock %}
</body>
</html>
