<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>יובל יפה | יעוץ הנקה</title>
    <link href="{{ MEDIA_URL }}css/code.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/slider.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=364359283631107";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32551030-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% if locale != 'he' %}
<script type="text/javascript">
    document.body.style.display = 'none';
    var _bab = _bab || {};
    _bab['Account'] = '4f7ad5fb9800dbe013000005';
    _bab['locale'] = '{{ locale }}';

    (function() {
        var bab = document.createElement('script'); bab.type = 'text/javascript'; bab.async = false;
        bab.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'bablic.herokuapp.com/js/bablic.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bab, s);
     })();
</script>
{% endif %}
<!--container start-->
<div id="container" dir="rtl">
    <!--header start-->
    <div id="header">
        <h1 dir='rtl'>
            יובל יפה מושקוביץ
            &nbsp;&nbsp;&nbsp;<small>
            אחות מוסמכת B.S.N ומדריכת הנקה
            </small>
        </h1>
        <h2 >	<a style="text-decoration: none; color: #6788B2;" href="mailto:uvjaffe@gmail.com">uvjaffe@gmail.com</a>  &nbsp;&nbsp;   050-8455242 &nbsp;&nbsp;&nbsp;  ייעוצי הנקה פרטיים בבית היולדת בקיסריה והסביבה </</h2>
    </div><!--header end-->
    <!--menu start-->
    <div id="menu" style="width:1100px; position:relative; right:-70px;">
        <ul>
            <li dir='rtl'><a href="/" {% if page_link == 'home' %}class="current"{% endif %}
                    >דף הבית</a></li>
            {% for p in pages %}
                <li dir='rtl'><a href="/page/{{ p.link }}" {% if page_link == p.link %}class="current"{% endif %}>
                {{ p.header }}
                </a></li>
            {% endfor %}
        </ul>
    </div><!--menu end-->
        {% block content %}
        {% endblock %}
    <footer>
        <ul>
            <li>
            <a href="http://www.niritgur.com/" target='_blank'>
                צולם ע"י נירית גור
            </a>
            </li>

            <li style="float:left;">
            <div class="fb-like" data-href="http://www.yuvaljaffe.co.il" data-send="false" data-width="300" data-show-faces="false"></div>
            </li>
        </ul>
    </footer>
</div>
<!--container end-->
{% block bottom_head %}
{% endblock %}
</body>
</html>
