bin
build
include
/lib
/Scripts
/share
.Python
yuval/.idea
dump
*.pyc
*.pyo
*.swp
*.psd
.DS_Store
src
MongoFiles
pip-log.txt
/yuval/djangoappengine/tests
/yuval/djangoappengine/dbindexes.py
/yuval/djangotoolbox/tests.py
/yuval/django/bin/
/yuval/django/contrib/admin/locale/
/yuval/django/contrib/gis/
/yuval/django/contrib/admindocs/
/yuval/django/contrib/auth/locale/
/yuval/django/contrib/comments/
/yuval/django/contrib/contenttypes/locale/
/yuval/django/contrib/csrf/
/yuval/django/contrib/flatpages/
/yuval/django/contrib/formtools/
/yuval/django/contrib/humanize/
/yuval/django/contrib/localflavor/
/yuval/django/contrib/markup/
/yuval/django/contrib/messages/locale/
/yuval/django/contrib/messages/tests/
/yuval/django/contrib/redirects/
/yuval/django/contrib/sessions/locale/
/yuval/django/contrib/sitemaps/
/yuval/django/contrib/sites/locale/
/yuval/django/contrib/syndication/
/yuval/django/contrib/webdesign/
/yuval/django/conf/locale/
/yuval/django/conf/app_template/
/yuval/django/conf/project_template/
/yuval/django/test/
/yuval/django/utils/unittest/
/Lib
/Include
local

/node/.idea