{% extends 'base.html' %}
{% block content %}
    <div id="content-inner">

<div class="leftbar" dir="rtl">
    <p class="heading"> קצת על עצמי <br/>
        שמי יובל יפה מושקוביץ, נשואה לרונן ואמא של יפתח <br />
<p>
        מאז שנכחתי בלידתה של אחותי בהיותי בת 20 וקצת, אז עוד רק מאחורי מצלמה,
    החל לחלחל בי הרצון להיות מיילדת ולעסוק בתחום הלידה.
    התחלתי את לימודי האקדמיים בשנת ,2004 ולאחר שנתיים של חיפוש עצמי באקדמיה
    התחלתי את לימודי הסיעוד במטרה להמשיך לקורס מיילדות.
    עכשיו כשאני כבר אחות מוסמכת N.S.B מטעם האוניברסיטה העברית אני בדרך
    להגשים את חלומי ולהפוך למיילדת. עם התקדמות הלימודים הבנתי כי בכדי להעניק
    את מלוא חווית הלידה והתחלה טובה, מרגשת ובריאה לאם ולתינוק, להנקה יש
    השפעה מכריעה בחוויה הכוללת. ועל כן בד ובד עם סיום לימודי
    מדריכות הנקה במכללת 'דיאדה'. במהלך הלימודים ילדתי והנקתי ועודני מניקה.
    והמחשבות על הלידה ועל רצוני להניק, נרשמתי ללימודי
    כיום אני עובדת כאחות במחלקת פגים וטיפול מיוחד ביילוד, לקראת קורס
    לימודי המשך במיילדות ועובדת כמדריכת הנקה הן במסגרת בית החולים
    והן באופן פרטי בבית היולדת.
</p>
</div>
    </div>

<div class="imgbar"><img src="{{ MEDIA_URL }}images/img1.jpg" alt="img" /></div>
{% endblock %}