{% extends 'base.html' %}

{% block extra_head %}
<script>
    $(function(){
        $('.imgbar img').load(function(){
            var height = $(this).outerHeight() - 20;
            var leftbar = $('.leftbar');
            if(height > leftbar.height())
                leftbar.css({height:height});
        }).load();
    });
</script>
{% endblock %}

{% block content %}
    <div>
        <div id="content-inner">
            <div class="leftbar" dir="rtl">
                <p class="heading">{{ page.subHeader }}<br />
                <p> {{ page.para|safe }} </p>
            </div>
        </div>
        <div class="imgbar"><img src="{{ page.image_url }}" alt="img" /></div>
    </div>
{% endblock %}